.swiper-pagination-bullet {
  @apply w-3 h-3 bg-neutral-400 rounded-full !important;
}

.swiper-pagination-bullet-active {
  @apply w-12 bg-primary-500 h-3  transition-all rounded-full !important;
}

.swiper-pagination {
  @apply bottom-0 !important;
}

.swiper-pagination {
  position: absolute !important;
  top: unset !important;
  bottom: 0 !important;
  text-align: center !important;
  z-index: 0 !important;
}
