@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white;
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.carousel {
  position: relative;
}

.content-carousel .carousel .control-dots {
  position: absolute;
  top: 0px;
  width: fit-content;
  right: 0;
  margin-top: 10px;
  display: flex;
  gap: 3px;
}
