@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  font-family: arial, sans-serif;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1.5px solid #e5e5e5;
  border-radius: 3px;
}

td,
th {
  text-align: center;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
