/* background: */
.progress::-webkit-progress-bar {
  background-color: #d9d9d9;
  width: 100%;
  border-radius: 8px;
}
/* .progress {
  background-color: #d9d9d9;
  color: #106fa4;
  width: 100%;
} */

/* value: */
/* .progress::-webkit-progress-value {
  background-color: #106fa4 !important;
  border-radius: 8px;
}
.progress::-moz-progress-bar {
  background-color: #106fa4 !important;
  border-radius: 8px;
} */

.progress {
  background-color: #d9d9d9;
  color: #43a7ff;
  width: 100%;
}

/* value: */
.progress::-webkit-progress-value {
  background-color: #43a7ff !important;
  border-radius: 8px;
}
.progress::-moz-progress-bar {
  background-color: #43a7ff !important;
  border-radius: 8px;
}
